/.conda
/data
/__pycache__
/outputs
/context.tenseal
/recorvered_input_ckks
/recorvered_input_paillier
/recorvered_input_plain
/history_plain.json
/match.csv
/results.pkl
/history_cifar
/history_cic
/history_mnist
/match.csv
/results.pkl
